.nav-left
{
    width:33%;
    height:100%;
    background-color:#F00;
    display:inline-block;
    vertical-align: top;
}

.nav-center
{
    width:33%;
    height:100%;
    background-color:#0F0;
    display:inline-block;
    vertical-align: top;
}

.nav-right
{
    width:33%;
    height:100%;
    background-color: #00F;
    display:inline-block;
    vertical-align: top;
}

.filmcard
{
height:500px;
padding: 10px;
padding-top:20px;
border:1px solid black;
}

.filmcard img
{
display:block;
    width:216px;
    height:319px;
margin:auto;
}

.filmcard h3
{
text-align:center;
}

.filmcard p
{
padding:0 10%;
}
