.cell {
    float: left;
    border-radius: 3px;
    height: 25px;
    width: 25px;
    margin: 2px;
    padding-bottom: 25px;
    border: 1px dashed slategray;
    border-sizing: border-box;
    cursor: pointer;
}

.available:hover {
    border: 1px solid midnightblue;
}

.disabled {
    background-color: transparent;
    border: 1px solid transparent;
    cursor: auto;
}

.available {
    background-color: whitesmoke;
}

.unavailable {
    cursor: auto;
    background-color: lightslategray;
}

.checked {
    background-color: crimson;
    border: 1px solid transparent;
    cursor: auto;
}

#dimmer {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1500;
}

#pay {
    position: fixed;
    display: none;
    top: 35%;
    left: 35%;
    width: 300px;
    height: 200px;
    background-color: white;
    z-index: 1501;
}

#confirmation {
    position: fixed;
    display: none;
    top: 35%;
    left: 35%;
    width: 300px;
    height: 200px;
    background-color: white;
    z-index: 1501;
}

#errorres {
    position: fixed;
    display: none;
    top: 35%;
    left: 35%;
    width: 300px;
    height: 200px;
    background-color: white;
    z-index: 1501;
}

#waiting {
    position: fixed;
    display: none;
    top: 35%;
    left: 35%;
    width: 300px;
    height: 200px;
    background-color: white;
    z-index: 1501;
}