/* label color */
.input-field label {
    color: #dddddd;
}
/* label focus color */
.input-field input[type=text]:focus + label {
    color: #ffffff;
}
footer
{
    position:fixed;
    bottom:0px;
    width:100%;
}
