<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>dbpath</param-name>
        <param-value></param-value>
    </context-param>
    <context-param>
        <param-name>login_redirect</param-name>
        <param-value>/</param-value>
    </context-param>
    <absolute-ordering>
        <name>UserSessionFilter</name>
        <name>LoggedInFilter</name>
    </absolute-ordering>
</web-app>
