<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>db_url</param-name>
        <param-value>jdbc:postgresql://localhost/movies</param-value>
    </context-param>
    <absolute-ordering>
        <name>UserSessionFilter</name>
        <name>LoggedInFilter</name>
        <name>AdminFilter</name>
    </absolute-ordering>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/assets/*</url-pattern>
    </servlet-mapping>
</web-app>
